// Primary
$color-primary: #aafadb;
$color-primary-40: rgba(216, 250, 240, 0.4);
$color-primary-50: #44D1A7;

// Secondary
$color-secondary: #5f36ff;

// Others
$color-gray-light: #f4f4f4;
$color-text-title: #020e1d;
$color-text-description: #020e1d;
$color-check: #3fe5b3;
$color-check-background: rgba(216, 250, 240, 0.4);
$color-check-border: rgba(216, 250, 240, 0.6);
$color-star: #ffcd17;
$color-link: #2727d9;
$color-link-underline: #3fe5b3;
$color-secondary-purple-light: #dfdcef;
$color-secondary-blue-dark: #0e0934;
$color-secondary-violet: #5600f8;

$color-bg-gray: $color-gray-light;
$color-bg-green: #eefff7;
$color-bg-yellow: rgba(250, 245, 216, 0.5);
$color-bg-blue: #eef7fd;
$color-bg-red: #fcf4fe;
$color-bg-purple: #464264;
$color-bg-yellow: #ffffd1;

// Transition
$transition: 200ms;


// Glider
$glide-dots-inactive: $color-secondary-purple-light;
$glide-dots-active: $color-secondary-blue-dark;

// Fonts
$font-mw: 'Merriweather', serif;
$font-lt: 'Lato', sans-serif;
