@use '../bootstrap' as *;
@use '../constants' as *;

section.cta {
	padding: 8em 1.5em;
	text-align: center;

	@include media-breakpoint-down(lg) {
		padding-top: 7em;
		padding-bottom: 7em;
	}

	@include media-breakpoint-down(md) {
		padding-top: 5em;
		padding-bottom: 5em;
	}

	.title {
		color: white;
		font-size: 3.875rem;

		@include media-breakpoint-down(lg) {
			font-size: 3rem;
		}

		@include media-breakpoint-down(md) {
			font-size: 1.5rem;
		}
	}

	.description {
		color: white;
		margin-top: 1em;
		max-width: 730px;
	}

	a {
		@include button(
			$background-color: $color-secondary-blue-dark,
			$border-color: $color-secondary-blue-dark
		);
		margin-top: 2.5rem;

		@include media-breakpoint-down(md) {
			margin-top: 2rem;
		}

		&:hover {
			background-color: #2d2a4c;
			border-color: #2d2a4c;
		}
	}

	.icon-wrapper {
		margin-top: 2em;
		display: flex;
		column-gap: 1em;
		justify-content: center;
	}
}

[aria-label='breadcrumb'] {
	overflow-x: auto;
}

.breadcrumb {
	padding: 2em 0;
	font-family: $font-lt;
	width: max-content;

	--bs-breadcrumb-item-padding-x: 1em;
	--bs-breadcrumb-divider-color: #dfdcef;
	--bs-breadcrumb-item-active-color: #dfdcef;

	li {
		a {
			color: #dfdcef !important;
			transition: $transition;
		}
	}
}
